@model SearchViewModel

@{
    ViewData["Title"] = "Welcome Page";
}

<div class="hero" style="background-image: url('/images/hero_1_a.jpg');">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="row mb-5">
                    <div class="col-lg-7 intro">
                        <h1><strong>Rent a car</strong> is within your fingertips.</h1>
                    </div>
                </div>

                <form class="trip-form" method="post" action="@Url.Action("Index", "Home")">
                    <div class="row align-items-center">
                        <div class="mb-3 mb-md-0 col-md-4">
                            <div class="form-control-wrap">
                                <input asp-format="{0:dd-MM-yyyy}" asp-for="StartDate" type="text" id="cf-3" placeholder="Pick up" class="form-control datepicker px-3">
                                <span class="icon icon-date_range"></span>
                            </div>
                        </div>
                        <div class="mb-3 mb-md-0 col-md-4">
                            <div class="form-control-wrap">
                                <input asp-format="{0:dd-MM-yyyy}" asp-for="EndDate" type="text" id="cf-4" placeholder="Drop off" class="form-control datepicker px-3">
                                <span class="icon icon-date_range"></span>
                            </div>
                        </div>
                        <div class="mb-3 mb-md-0 col-md-4">
                            <input type="submit" value="Search Now" class="btn btn-primary btn-block py-3">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <h2 class="section-heading"><strong>How it works?</strong></h2>
        <p class="mb-5">Easy steps to get you started</p>

        <div class="row mb-5">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="step">
                    <span>1</span>
                    <div class="step-inner">
                        <span class="number text-primary">01.</span>
                        <h3>Search</h3>
                        <p>Effortlessly search for your desired vehicles based on the specific time range.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="step">
                    <span>2</span>
                    <div class="step-inner">
                        <span class="number text-primary">02.</span>
                        <h3>Select</h3>
                        <p>Select the car that best suits your needs and preferences.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="step">
                    <span>3</span>
                    <div class="step-inner">
                        <span class="number text-primary">03.</span>
                        <h3>Rent</h3>
                        <p>Securely rent the chosen item to fulfill your requirements.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h2 class="section-heading"><strong>Car Listings</strong></h2>
                @if (Model.Cars.Any())
                {
                    <p class="mb-5">Available cars for the selected time period: @String.Format("{0:dd-MM-yyyy}", Model.StartDate) - @String.Format("{0:dd-MM-yyyy}", Model.EndDate)</p>
                }
                else
                {
                    <p class="mb-5">No available cars for the selected time period: @String.Format("{0:dd-MM-yyyy}", Model.StartDate) - @String.Format("{0:dd-MM-yyyy}", Model.EndDate)</p>
                }
            </div>
        </div>

        <div class="row">
            @foreach (var car in Model.Cars)
            {
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="listing d-block align-items-stretch">
                        <div class="listing-img h-100 mr-4">
                            <img src="@car.ImageUrl" alt="Image" class="img-fluid">
                        </div>
                        <div class="listing-contents h-100">
                            <h3>@($"{car.Brand} {car.Model}")</h3> <!-- Combine brand and model -->
                            <div class="rent-price">
                                <strong>@car.RentalPricePerDay.ToString("C")</strong><span class="mx-1">/</span>day
                            </div>
                            <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                                <div class="listing-feature pr-4">
                                    <span class="caption">Year:</span>
                                    <span class="number">@car.Year</span>
                                </div>
                                <div class="listing-feature pr-4">
                                    <span class="caption">EngineType:</span>
                                    <span class="text">@car.EngineType</span>
                                </div>
                                <div class="listing-feature pr-4">
                                    <span class="caption">Passengers:</span>
                                    <span class="number">@car.PassengerCapacity</span>
                                </div>
                            </div>
                            <div>
                                <p>@car.Description</p>
                                <div class="text-center">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        @using (Html.BeginForm("Reserve", "Reservations", new { carId = car.Id }, FormMethod.Post))
                                        {
                                            @Html.Hidden("StartDate", Model.StartDate)
                                            @Html.Hidden("EndDate", Model.EndDate)
                                            <button class="btn btn-primary btn-sm">Rent Now</button>
                                        }
                                    }
                                    else
                                    {
                                        <a asp-action="SignIn" asp-controller="Authentication" class="btn btn-primary mb-4">Sign In</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="site-section bg-primary py-5">
    <div class="container">
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="row align-items-center">
                <div class="col-lg-7 mb-4 mb-md-0">
                    <h2 class="mb-0 text-white">What are you waiting for?</h2>
                    <p class="mb-0 opa-7">Sign in now and rent the car of your dreams!</p>
                </div>
                <div class="col-lg-5 text-md-right">
                    <a asp-action="SignIn" asp-controller="Authentication" class="btn btn-primary btn-white">Sign in</a>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {

    <script src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>

    <script>
        var startDateInput = $('#cf-3');
        var endDateInput = $('#cf-4');

        startDateInput.datepicker({
            format: 'dd-mm-yyyy',
            todayHighlight: true,
            startDate: '-0d' // Set today as the minimal date
        });

        endDateInput.datepicker({
            format: 'dd-mm-yyyy',
            startDate: '+1d' // Set today as the minimal date
        });

        // Update end datepicker's start date when start date changes
        startDateInput.on('changeDate', function (e) {
            var selectedStartDate = new Date(e.date);
            var selectedEndDate = new Date(selectedStartDate);
            selectedEndDate.setDate(selectedStartDate.getDate() + 1); // Set end date to be one day ahead

            endDateInput.datepicker('setDate', selectedEndDate); // Update end datepicker's value
            endDateInput.datepicker('setStartDate', selectedEndDate); // Update end datepicker's start date

            endDateInput.val(moment(selectedEndDate).format('DD-MM-YYYY')); // Assuming you're using moment.js for date formatting
        });

    </script>
}
