@model IEnumerable<Car>

<div class="hero inner-page" style="background-image: url('/images/hero_1_a.jpg');">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-5">
                <div class="intro">
                    <h1><strong>Cars</strong></h1>
                    <div class="custom-breadcrumbs"><a href="admin_index.html">Admin</a> <span class="mx-2">/</span> <strong>Cars</strong></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-light">
    <div class="container">
        <h2 class="mb-5">Manage Cars</h2>
        <div class="row">
            @foreach (var car in Model)
            {
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="listing d-block align-items-stretch">
                        <div class="listing-img h-100 mr-4">
                            <img src="@car.ImageUrl" alt="Image" class="img-fluid">
                        </div>
                        <div class="listing-contents h-100">
                            <h3>@($"{car.Brand} {car.Model}")</h3> <!-- Combine brand and model -->
                            <div class="rent-price">
                                <strong>@car.RentalPricePerDay.ToString("C")</strong><span class="mx-1">/</span>day
                            </div>
                            <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                                <div class="listing-feature pr-4">
                                    <span class="caption">Year:</span>
                                    <span class="number">@car.Year</span>
                                </div>
                                <div class="listing-feature pr-4">
                                    <span class="caption">EngineType:</span>
                                    <span class="text">@car.EngineType</span>
                                </div>
                                <div class="listing-feature pr-4">
                                    <span class="caption">Passengers:</span>
                                    <span class="number">@car.PassengerCapacity</span>
                                </div>
                            </div>
                            <div>
                                <p>@car.Description</p>
                                <div class="text-center">
                                    <button type="button" class="btn btn-success btn-md" onclick="window.location.href='@Url.Action("Edit", "Cars", new { id = @car.Id })'">Edit</button>
                                    <button type="button" class="btn btn-info btn-md" onclick="PostData(@car.Id)">See Rents</button>
                                    <button class="btn btn-danger btn-md" onclick="deleteCar(@car.Id)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary mb-4" onclick="window.location.href='@Url.Action("Create","Cars")'">Add Car</button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function deleteCar(id) {
            $.ajax({
                type: "POST",
                url: `/cars/delete/${id}`,
                success: function (result) {
                    window.location.reload();
                }
            })
        }
    </script>
}